@import 'content/variables';

@mixin center-flexbox {
    display: map-get($structure, '$displayFlex');
    justify-content: map-get($structure, '$center');
    align-items: map-get($structure, '$center');
}

@mixin space-between-flexbox {
    display: map-get($structure, '$displayFlex');
    justify-content: map-get($structure, '$spaceBetween');;
    align-items: map-get($structure, '$center');
}

@mixin center-popup {
    position: map-get($structure, '$positionFixed');;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin button-transition {
    transition-property: background, border;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

body {
    margin: 0;
    padding: 0;
    background-color: map-get($colors, '$mainColor');
}

header {
    margin-bottom: 20px;
    @include center-flexbox;
    background: #10a8a4;
}

#proyect-title {
    text-align: center;
    color: white;
}

.login-popup {
    background: rgba(0, 0, 0, 0.5);
    @include center-flexbox;
    @include center-popup;
    visibility: visible;
    z-index: 9999;
}

.login-popup-container {
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    gap: 20px;
}

#popup-title {
    margin: 0;
    padding: 0;
    font-family: map-get($fonts, '$popupText');
    text-align: center;
}

.login-fields {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#login-button {
    width: 100%;
    padding: 7px;
    background-color: #0d95ad;
    color: #fff;
    border: 2px solid #0d95ad;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    @include button-transition;
}

#login-button:hover {
    background: #066a7a;
    border: 2px solid #066a7a;
}

.guards-container {
    width: 100%;
    @include center-flexbox;
    flex-direction: row-reverse;
}

.guards-schedule {
    width: 1fr;
    border: 1px solid black;
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
}

.guards-admin-panel {
    padding: 20px;
    display: none;
    flex-direction: column;
    width: 200px;
    background: white;
}


#guards-admin-title {
    margin: 0 0 25px 0;
    padding: 0;
    text-align: center;
}

.guard-fields,
#guard-add-button {
    width: 100%;
}

.guard-fields {
    margin-bottom: 20px;
}

#guard-add-button {
    text-transform: uppercase;
}

#guard-add-button:hover {

}